*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: sans-serif;
}

.wrapper-main{
    background: gray;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.form__container{
    background: #338dc3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2rem;
    min-height: 5rem;
    width: 40rem;
    overflow: hidden;
}

.form__title{
    padding: 2rem;
    color: #fff;
}

.form__title p{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.form__title h1{
    font-size: 3rem;
}

.form__content{
    background: #fff;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    min-height: 5rem;
    padding: 5rem 0;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.29);
}

.form__content form{
    width: 80%;
    margin: 0 auto;
}

.form__input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.form__input-group label{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.form__input-group .input{
    display: flex;
    position: relative;
}

.form__input-group .input i{
    position: absolute;
    top: 50%;
    left: .5rem;
    transform: translateY(-50%);
    font-size: 2.5rem;
    color: #338dc3;
    display: block;
    font-style: normal;
}

.form__input-group .input input{
    border: .1rem solid #ececec;
    padding: 1rem;
    padding-left: 3rem;
    width: 100%;
    outline: none;
    font-size: 1.5rem;
}

.form__input-group--btn{
    margin-top: 2rem;
}

.form__submit{
    padding: 2.5rem 0;
    font-size: 1.6rem;
    background: #338dc3;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: .5rem;
}